<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            
            <p class="is-size-5 is-uppercase has-text-weight-normal has-text-black has-text-weight-semibold is-marginless">
                hi-hello@example.com
            </p>
            
            <hr>
            
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                You can find me here by email
            </h3>
            
            </div>
    </div>
</section>